<?php foreach ($showcase as $showcase_key => $showcase_value): ?>
	<div class="vitrin_alan">
		<div class="vitrin_baslik"><?php echo $showcase_value->title; ?></div>
		<div class="vitrin_icerik">
			<?php echo $showcase_value->content; ?>
			<div class="blog_alan">
				<?php foreach ($showcase_value['blog'] as $key => $value): ?>
					<div class="blog_list">
						<div class="blog_baslik"><?php echo $blog_value->title; ?></div>
						<div class="blog_icerik"><?php echo $blog_value->content; ?></div>
					</div>
					<div class="blog_list">
						<div class="blog_baslik"><?php echo $blog_value->title; ?></div>
						<div class="blog_icerik"><?php echo $blog_value->content; ?></div>
					</div>
				<?php endforeach ?>
			</div>
		</div>
	</div>
<?php endforeach ?>